
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.welcome-badge {
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.login-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}



h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}


.submitbutton{
    margin-top: 20px;
    padding: 500px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/* Add these styles to your existing styles.css */

.main-panel {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

.client-section {
    margin-top: 20px;
}

.search-client {
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.service-item {
    margin-bottom: 20px; /* Add some spacing between service items */
    padding-left: 10px; /* Add padding on the left side */
}



/* Style for delete button container */
.delete-service-container {
    margin-top: 10px;
    text-align: left;
}

/* Style for delete button */
.delete-service-btn {
    width:100px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.renew-service-btn {
    width: 100px;
    padding: 5px 10px;
    background-color: #006633;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


.get-invoice-btn {
    width: 100px;
    padding: 5px 10px;
    background-color: #003d66;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 50px;
}



/* Style for delete button on hover */
.delete-service-btn:hover {
    background-color: #c82333;
}


#logout-btn{
    width: 100px;
    background-color: #363636;
    transition: background-color 0.3s; /* Add smooth transition effect */
}

#logout-btn:hover {
    background-color: #005ea1; /* Change color on hover */
}



#loginbutton2 {
    width: 200px;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the button horizontally */
    transition: background-color 0.3s; /* Add smooth transition effect */
}

#loginbutton2:hover {
    background-color: #005ea1; /* Change color on hover */
}



#logoutbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}  

#print-btn{
    width: 200px;
    font-size: 18px;

}

#printbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

}  

#client-list:hover {
    cursor: pointer;
}



#invoiceedit {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

}

#back-btn {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 50px; /* Adjust the width as needed */
    background-color: rgb(0, 0, 0);
    height: 40px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 25px;
}


#back-btn:hover{
    background-color: #005a96;

}

.delete-task-btn {
    display: flex;
    justify-content: center;
    font-size: 10px;
    width: 20px; /* Adjust the width as needed */
    background-color: red;
    height: 25px;
    padding: 5px 10px;
    margin-top: 5px;
}



.delete-task-btn:hover {
    background-color: #570000;
}

/* Styles for task status colors */
.green {
    color: #008e21; /* Green */
    background-color: #f8f9fa; /* Light gray */
    padding: 5px 10px; /* Padding for better spacing */
    border-radius: 4px; /* Rounded corners */
}

.red {
    color: #a80011; /* Red */
    background-color: #f8f9fa; /* Light gray */
    padding: 5px 10px; /* Padding for better spacing */
    border-radius: 4px; /* Rounded corners */
}

.yellow {
    color: #d19c00; /* Yellow */
    background-color: #f8f9fa; /* Light gray */
    padding: 5px 10px; /* Padding for better spacing */
    border-radius: 4px; /* Rounded corners */
}



/* Styles for client details */
.client-details {
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.client-info {
    margin-bottom: 20px;
}

.client-info p {
    margin: 5px 0;
}

/* Styles for services and tasks container */
.services-tasks-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Styles for services column */
.services-column {
    flex: 0 0 48%; /* Adjust the width as needed */
}

.services-column button {
    margin-bottom: 10px;
}

/* Styles for tasks column */
.tasks-column {
    flex: 0 0 48%; /* Adjust the width as needed */
}

.tasks-column h3 {
    margin-top: 0;
}

.tasks-column form {
    margin-bottom: 20px;
}

.tasks-column input[type="text"] {
    width: calc(100% - 80px);
    margin-right: 10px;
}

.tasks-column button[type="submit"] {
    width: 80px;
}


/* Styles for services and tasks container */
.services-tasks-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #ccc; /* Add a border to separate the columns */
}

/* Styles for services column */
.services-column {
    flex: 0 0 48%; /* Adjust the width as needed */
    border-right: 1px solid #ccc; /* Add a border to the right of the services column */
    padding-right: 20px; /* Add padding to create space between the border and content */
}

/* Styles for tasks column */
.tasks-column {
    flex: 0 0 48%; /* Adjust the width as needed */
    padding-left: 20px; /* Add padding to create space between the border and content */
}


#add-task-btn {
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    width: 100px; /* Adjust the width as needed */
    font-size: 15px;
}


#add-client-btn {
    width: 120px;
    margin-bottom: 20px;
}

#search-input {
    width: 50%; /* Adjust the width as needed */
    margin-left: 20px;
}

#add-client-modal .modal-content {
    width: 80%; /* Adjust the width as needed */
    max-width: 500px; /* Set a maximum width */
}

#add-client-modal .modal-content button[type="submit"] {
    width: 100px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensures button behaves as a block-level element */
}



footer {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #666;
}


.welcome-badge {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.welcome-badge img {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    margin-right: 8px; /* Optional: Add some space between the icon and text */
}



.client-item {
    padding: 8px;
    margin-bottom: 20px;
    border: 3px solid rgb(63, 63, 63);

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.edit-client-btn {
    font-size: 15px;
    width: 70px;
    margin-left: 50px;
    background-color: black;

}

.client-item:hover span {
    color: rgb(124, 124, 124); /* Change the color as per your preference */
}
